.posts .post-date {
  display: block;
  font-size: 15px;
  color: #818181;
}

.posts .post-link {
  font-size: 24px;
  letter-spacing: -1px;
  line-height: 1;
}

.posts li {
  margin-bottom: 30px;
}

.posts {
  list-style-type: none;
}

h3 {
  color: #777;
}
