<div class="footer">
    <h3 class="footer-heading">{{ site.title }}</h3>

    <div class="col-lg-4">
      <p>{{ site.name }}</p>
      <p><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></p>
    </div>
    <div class="col-lg-4">
      <p>
        <a href="https://github.com/{{ site.github_username }}">
          <i class="fa fa-github"></i> {{ site.github_username }}
        </a>
      </p>
      <p>
        <a href="https://twitter.com/{{ site.twitter_username }}">
          <i class="fa fa-twitter"></i>{{ site.twitter_username }}
        </a>
      </p>
    </div>

  </div>
